<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="app/static/css/style.css">
</head>
<body>
    <div class="main">
        <div class="up">
            <header>
                <nav>
                    <a href="?page=home">Home</a>
                    <a href="?page=about">Sobre</a>
                </nav>
            </header>
        </div>
        <div class="content">
            {{dynamic_area}}
        </div>
    </div>
</body>
</html>